<div class="background">

<div class="dashboard">
    <aside class="sidebar">
      <div class="profile-section">
       
        <img src="./assets/IP.png" alt="logo" width="40" height="40">
        <h3>IPMega</h3>
       
      </div>
      <h4>Department Store</h4>
      <nav class="nav-menu">
        <ul>
          <li><a [routerLink]="['sale']">Start sell</a></li>
          <li><a [routerLink]="['order']">Order report</a></li>
          <li><a [routerLink]="['add-product']">Add Product</a></li>
          
          <li><a [routerLink]="['product-report']">Product Report</a></li>
          <li><a [routerLink]="['add-company']">Add Company</a></li>
          <li><a [routerLink]="['company-report']">Company Report</a></li>
          <li><a [routerLink]="['add-category']">Add Category</a></li>
          <li><a [routerLink]="['category-report']">Category Report</a></li>
          <li><a>Logout</a></li>
       
       
       
       
        </ul>
      </nav>
    </aside>
    <div class="main-content ms-3 me-3 mb-1">
      <header class="topbar rounded-pill" style="background-color: #003F7D;">
        <div class="topbar-left">
          <div class="logo">
            <strong class="h4" style="color: white;">Sells Dashboard</strong>
          </div>
        </div>
        <div class="topbar-right">
          <button class='btn btn-sm fs-5  hover-btn' style="font-weight: 700; color: white;" routerLink="/loginform">Login</button>
          <button class='btn btn-sm fs-5 hover-btn' style="font-weight: 700; color: white;" routerLink="/signup">Signup</button> 
        </div>
      </header>
      <div class="content mt-3 " style="overflow: auto;">
      <div class='card'>
        <div class='card-body'>

            <router-outlet></router-outlet>

      
   
        </div>

      </div>
      </div>
    </div>
  </div>
</div>