<!-- login.component.html -->

<section id="login">
    <div class="login-box">
      <form [formGroup]="loginForm">
        <h2>Login</h2>
  
        <div class="formGroup">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user' style='color:#ffffff'></i></span>
            <input type="text" required name="userName" class="form-control" formControlName="userName"
                   placeholder="Username">
            <label>Username</label>
          </div>
        </div>
  
        <div class="formGroup">
          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" required name="password" class="form-control" formControlName="password"
                   placeholder="Password">
            <label>Password</label>
          </div>
        </div>
  
        <div class="remember-forgot">
          <label><input type="checkbox" formControlName="rememberMe"> Remember me</label>
        </div>
  
        <button (click)="addsignin(this.loginForm.value)" type="button" >Login</button>
  
        <div class="register-link">
          <p>Don't have an account? <a routerLink="/registration">Register</a></p>
        </div>
      </form>
    </div>
  </section>
  